/* Highlight current position in Navbar */
.nav-item-current > .nav-link {
    color: black !important;
}

.nav-item-current {
    background-color: white;
}

.hero {
    color: white;
    background-image: url("./res/player.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#welcome-banner {
    height:30vh;
    background-color: rgba(0, 0, 0, 0.05);
}

#banner-text {
    color: black;
    font-size: 2em;
}

#copyright-text {
    color: white;
    margin-left: 0;
}
