/* Highlight current position in Navbar */
.nav-item-current {
    background-color: white;
}

.nav-item-current > .nav-link {
    color: black !important;
}

.hero {
    color: white;
    background-image: url("./res/noon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* .hero > .hero-text {

} */

.img-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    opacity: 0.8;
    margin-right: 1em;
}

.img-title {
    font-style: italic;
}